body {
  font-family: 'DM Sans', 'Titan One';
  font-style: normal;
  line-height: normal;
}

p {
  margin: 0;
}

.link {
  text-decoration: none;
}

.footer-section {
  display: flex;
  flex-direction: column;
  background: #FFF5F6;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.tittle{
  display: flex;
  flex-direction: column;
flex-wrap: wrap;
  justify-content: space-between;
}

.footer-title {
  color: #FFA5BA;
  font-family: "Titan One";
  font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    width: 500px;
    display: flex;
        flex-direction: column;
        flex-wrap: wrap;
}

.footer-second-title {
  width: 200px;
    color: #D41443;
    font-family: "Titan One";
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 1.36px;
    text-transform: uppercase;
    display: flex;
        flex-direction: column;
        flex-wrap: wrap;
}

.footer-social-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
  padding-bottom: 40px;
}

.footer-social {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.footer-contact {
  color: #000;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 186%;
  letter-spacing: 0.32px;
  transition:all 250ms;
}
.footer-contact:hover{
  transform: scale(1.2);
}

.footer-contact-style {
  color: #D41443;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 186%;
  letter-spacing: 0.32px;
}

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #907E82;
  font-family: "DM Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 186%;
  letter-spacing: 0.28px;
  transition:all 250ms;
}
.footer-copyright:hover{
    transform: scale(1.2);
}

/* responsive footer*/

  @media screen and (width >=320px) {

    .footer-container {
      flex-direction: column; 
      align-items: center; 
    }
  
    .footer-title {
      width: auto; 
      text-align: left;
      font-size: 20px;
    
    }
  
    .footer-second-title {
      font-size: 38px;
      display: block;
    }
  
    .footer-social-contact {
      align-items: flex-end; 
    }
  
    .footer-social {
      gap: 30px; 
    }
  
    .footer-contact,
    .footer-contact-style {
     
      text-align: right !important;
      font-size: 12px;
    
    }
  
    .footer-copyright {
      flex-direction: column;
     align-items: center;
        font-size: 14px;
    }
  
  }






@media screen and (width >=768px) {
  .footer-section {
          display: flex;
          flex-direction: column;
          background: #FFF5F6;
      }
  
  
      .footer-container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
      }
  
      .tittle{
          max-width: 340px;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: space-between;
      }
  
      .footer-title {
          color: #FFA5BA;
          font-family: "Titan One";
          font-size: 30px;
          font-weight: 400;
          letter-spacing: 1.2px;
          text-transform: uppercase;
          width: 500px;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
      }
  
      .footer-second-title {
          width: 340px;
          color: #D41443;
          font-family: "Titan One";
          font-size: 58px;
          font-weight: 400;
          letter-spacing: 3.48px;
          text-transform: uppercase;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
      }
  
      .footer-social-contact {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          gap: 40px;
      }
  
      .footer-social {
          display: flex;
          flex-direction: row;
          gap: 30px;
      }
  
      .footer-svg {
          fill: #fea5bb;
          transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
  
      .footer-svg:hover {
          fill: #D41443;
      }
  
      .footer-contact {
          color: #000;
          font-family: "DM Sans";
          font-size: 16px;
          font-weight: 700;
          line-height: 186%;
          letter-spacing: 0.32px;
      }
  
      .footer-contact-style {
          color: #D41443;
          font-family: "DM Sans";
          font-size: 16px;
          font-weight: 700;
          line-height: 186%;
          letter-spacing: 0.32px;
      }
  
      .footer-copyright {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #907E82;
          font-family: "DM Sans";
          font-size: 14px;
          font-weight: 700;
          line-height: 186%;
          letter-spacing: 0.28px;
  
      }
}



@media screen and (width >=1158px) {

  .footer-section {
          display: flex;
          flex-direction: column;
          background: #FFF5F6;
      }
  
  
      .footer-container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
      }
  
      .tittle {
          max-width: 100%;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: space-between;
      }
  
      .footer-title {
          color: #FFA5BA;
          font-family: "Titan One";
          font-size: 30px;
          font-weight: 400;
          letter-spacing: 1.2px;
          text-transform: uppercase;
          width: 500px;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
      }
      
              .footer-title-sec {
                  color: #FFA5BA;
                  /* Set the initial color */
                  transition: color 0.3s;
                  /* Apply a smooth color transition effect over 0.3 seconds */
              }

              .footer-title:hover .footer-title-sec {
                  color: #D41443;
                  /* Change the color of the span on hover */
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  /* Move the span to the next row */
                  width: 60%;
                  /* Make it full width to move to next line */
              }
      
  
      .footer-second-title {
          width: 100%;
          color: #D41443; 
          font-family: "Titan One";
          font-size: 58px;
          font-weight: 400;
          letter-spacing: 3.48px;
          text-transform: uppercase;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
      }
  
      .footer-social-contact {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          gap: 40px;
      }
  
      .footer-social {
          display: flex;
          flex-direction: row;
          gap: 30px;
      }
  
      .footer-svg {
          fill: #fea5bb;
          transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
  
      .footer-svg:hover {
          fill: #D41443;
      }
  
      .footer-contact {
          color: #000;
          font-family: "DM Sans";
          font-size: 16px;
          font-weight: 700;
          line-height: 186%;
          letter-spacing: 0.32px;
      }
  
      .footer-contact-style {
          color: #D41443;
          font-family: "DM Sans";
          font-size: 16px;
          font-weight: 700;
          line-height: 186%;
          letter-spacing: 0.32px;
      }
  
      .footer-copyright {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #907E82;
          font-family: "DM Sans";
          font-size: 14px;
          font-weight: 700;
          line-height: 186%;
          letter-spacing: 0.28px;
  
      }
}


